//Breakpoints
$xl: 1600px;
$ll: 1360px;
$l:  1280px;
$lg: 1024px;
$md:  768px;
$sm:  480px;
$xs:  420px;
$xxs: 360px;

//Colors
$black:            #000000;
$dark:             #363636;
$light:            #ffffff;
$gray:             #e5e5e5;

//Fonts
$font-r:     'Assistant', sans-serif;

//Special settings
$hover-time: 0.2s;
